.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
    font-size: 1.3rem;
    height: 100px;
    background-color: #020c1b;
}
.logo img{
    width: 80px;
}
.nav-menu{
    display: flex;
}
.search-icon{
    color: #fff;
    cursor: pointer;
    margin: 0 2rem;
}
.search-icon:hover{
    color: #ff7600;
    transition: all 0.5s ease;
}
.links{
    color: #fff;
}
.hover:hover{
    color: #ff7600;
    transition: all 0.5s ease;
}
.menu-icon{
    display: none;
    color: #fff;
    cursor: pointer;
}
ul{
    list-style-type: none;
}
.links{
    text-decoration: none;
    margin: 0px 15px;
    font-size: 1.3rem;
    color: #d6d6d6;
    cursor: pointer;
}
.flex{
    display: flex;
}

@media only screen and (max-width:550px) {
    .navbar{
        position: relative;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 100px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .search{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 300px;
        position: absolute;
        top: 100px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .active{
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 2;
        background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));
    }
    .navbar-active{
        background-color: black;
    }
    .menu-icon{
        display: block;
    }
    .links{
        padding: 25px;
    }
    .links:hover{
        padding: 25px;
        background-color: #ff7600;
        transition: all 0.5s ease;
        color: #fff;
    }
}
